<div *ngIf="isLoading; else faqView" class="spinner-wrapper">
  <app-spinner></app-spinner>
</div>
<ng-template #faqView>
  <app-page-wrapper [className]="'faq-page'">
    <div *ngIf="!alerts.server; else showError">
      <div
        *ngIf="faqs.length; else showDefault"
        class="container"
        data-aos="fade"
        data-aos-offset="-500"
        data-aos-duration="1000"
      >
        <div class="row">
          <header class="pt-10 pb-6 text-center column-12">
            <h3 class="faq-page__title h4 m-auto bolder uppercase">FAQ</h3>
          </header>
        </div>
        <article class="row pb-6">
          <p class="column-12 lg:column-9 m-auto text-center mb-10">
            Nie możesz czegoś znaleźć? Nie wiesz jak coś zrobić? A może chcesz
            się czegoś dowiedzieć? Jeżeli tak to znalazłaś/eś się w odpowiednim
            miejscu. Poniżej znajdziesz najczęściej zadawane pytania.
          </p>
          <div
            *ngIf="faqs.length"
            class="row column-12 m-auto mb-10 flex-justify-center"
          >
            <div
              class="accordions-category m-2"
              *ngFor="let faq of faqs; trackBy: trackID"
            >
              <app-link
                [linkClass]="
                  'accordions-category__link block p-2 text-center bold'
                "
                [linkRouter]="computedID(faq.link)"
                [linkTitle]="computedTitle(faq.title)"
                [linkOnClick]="true"
                (whenLinkClick)="jumpTo($event, faq.link)"
              >
                <app-fa-icon [faClass]="faq.icon"></app-fa-icon>
                <div class="mt-1">{{ faq.title | titlecase }}</div>
              </app-link>
            </div>
          </div>
          <div *ngIf="faqs.length" class="column-12">
            <div
              class="container-md"
              *ngFor="let faq of faqs; trackBy: trackID"
              data-aos="fade"
              data-aos-offset="0"
              data-aos-anchor-placement="bottom-bottom"
              data-aos-duration="1000"
            >
              <h4
                class="m-auto my-3 text-center h6"
                [id]="computedID(faq.link)"
                #accordionHeader
              >
                {{ faq.title }}
              </h4>
              <div class="mb-10 m-auto">
                <app-accordion [faqs]="faq.questions"></app-accordion>
              </div>
            </div>
          </div>
          <div
            class="column-12 lg:column-9 m-auto text-center mt-4"
            data-aos="fade-up"
            data-aos-offset="-500"
            data-aos-duration="500"
          >
            <p>
              Nie znalazłaś/eś odpowiedzi na swoje pytania? Skontaktuj się z
              nami.
            </p>
            <app-router-link
              [linkClass]="'button button-primary'"
              [linkRouter]="'/kontakt'"
              [linkTitle]="'Przejdź do strony kontaktowej'"
            >
              Kontakt
            </app-router-link>
          </div>
        </article>
      </div>
      <ng-template #showDefault>
        <p class="center text-center m-0">Nie znaleziono pytań.</p>
      </ng-template>
    </div>
    <ng-template #showError>
      <p class="center text-center m-0">{{ alerts.server }}</p>
    </ng-template>
  </app-page-wrapper>
</ng-template>
