<div *ngIf="isLoading; else main" class="spinner-wrapper">
  <app-spinner></app-spinner>
</div>
<ng-template #main>
  <app-admin-wrapper>
    <header class="admin-wrapper-section__header">
      <h2 class="h4 text-center mb-6">
        Informacje Kontaktowe
        <span class="hidden">- Ustawienia</span>
      </h2>
    </header>
    <div
      *ngIf="!serverErrorAlert; else showError"
      class="admin-wrapper-section__content m-auto mt-6 text-center"
    >
      <p class="mb-6">
        Tutaj możesz zmienić informacje kontaktowe dla swojej strony.
      </p>
      <app-form
        [formClass]="'form text-left inline-block'"
        [formName]="form"
        (whenFormSubmit)="saveSettings()"
      >
        <div class="row">
          <div class="column-12 mb-4">
            <app-input
              [inputLabelClass]="'block mb-2 bold'"
              [inputID]="'email'"
              [inputType]="'email'"
              [inputLabel]="'Adres email'"
              [inputPlaceholder]="'example@domain.com'"
              [inputClass]="'form__input w-100'"
              [inputValidation]="validation('email')"
              [inputAlerts]="emailValidationErrors"
              [inputRequired]="false"
              [inputGroup]="form"
              [inputForm]="form"
            ></app-input>
          </div>
          <div class="column-12 mb-4">
            <app-input
              [inputLabelClass]="'block mb-2 bold'"
              [inputID]="'phone'"
              [inputType]="'tel'"
              [inputLabel]="'Numer telefonu'"
              [inputPlaceholder]="'123 123 123'"
              [inputClass]="'form__input w-100'"
              [inputValidation]="validation('phone')"
              [inputAlerts]="phoneValidationErrors"
              [inputRequired]="false"
              [inputGroup]="form"
              [inputForm]="form"
            ></app-input>
          </div>
          <div class="column-12 mb-4">
            <app-input
              [inputLabelClass]="'block mb-2 bold'"
              [inputID]="'nip'"
              [inputLabel]="'Numer NIP'"
              [inputPlaceholder]="'1234567890'"
              [inputClass]="'form__input w-100'"
              [inputValidation]="validation('nip')"
              [inputAlerts]="nipValidationErrors"
              [inputRequired]="false"
              [inputGroup]="form"
              [inputForm]="form"
            ></app-input>
          </div>
          <div class="column-12 mb-4">
            <app-input
              [inputLabelClass]="'block mb-2 bold'"
              [inputID]="'street'"
              [inputLabel]="'Ulica'"
              [inputPlaceholder]="'Ulica'"
              [inputClass]="'form__input w-100'"
              [inputValidation]="validation('street')"
              [inputAlerts]="streetValidationErrors"
              [inputRequired]="false"
              [inputGroup]="form"
              [inputForm]="form"
            ></app-input>
          </div>
          <div class="column-12 mb-4">
            <app-input
              [inputLabelClass]="'block mb-2 bold'"
              [inputID]="'street_number'"
              [inputLabel]="'Numer ulicy/lokalu'"
              [inputPlaceholder]="'7/21'"
              [inputClass]="'form__input w-100'"
              [inputValidation]="validation('street_number')"
              [inputAlerts]="streetNumberValidationErrors"
              [inputRequired]="false"
              [inputGroup]="form"
              [inputForm]="form"
            ></app-input>
          </div>
          <div class="column-12 mb-4">
            <app-input
              [inputLabelClass]="'block mb-2 bold'"
              [inputID]="'city'"
              [inputLabel]="'Miasto'"
              [inputPlaceholder]="'Miasto'"
              [inputClass]="'form__input w-100'"
              [inputValidation]="validation('city')"
              [inputAlerts]="cityValidationErrors"
              [inputRequired]="false"
              [inputGroup]="form"
              [inputForm]="form"
            ></app-input>
          </div>
          <div class="column-12 mb-4">
            <app-input
              [inputLabelClass]="'block mb-2 bold'"
              [inputID]="'zip_code'"
              [inputLabel]="'Kod pocztowy'"
              [inputPlaceholder]="'10-100'"
              [inputClass]="'form__input w-100'"
              [inputValidation]="validation('zip_code')"
              [inputAlerts]="zipCodeValidationErrors"
              [inputRequired]="false"
              [inputGroup]="form"
              [inputForm]="form"
            ></app-input>
          </div>
          <div class="column-12 mb-4">
            <app-input
              [inputLabelClass]="'block mb-2 bold'"
              [inputID]="'working_hours'"
              [inputLabel]="'Godziny pracy'"
              [inputPlaceholder]="'08:30 - 18:30'"
              [inputClass]="'form__input w-100'"
              [inputValidation]="validation('working_hours')"
              [inputAlerts]="workingHoursValidationErrors"
              [inputRequired]="false"
              [inputMessage]="'Proszę użyć formatu: 00:00 - 00:00'"
              [inputGroup]="form"
              [inputForm]="form"
            ></app-input>
          </div>
          <div class="column-12 text-center">
            <app-button
              [buttonType]="'submit'"
              [buttonTitle]="buttonTitle(isDisabled)"
              [buttonDisabled]="isDisabled"
            >
              {{ buttonText(isDisabled) }}
              <app-fa-icon
                *ngIf="isDisabled"
                [faClass]="'fas fa-spinner fa-spin ml-1'"
              ></app-fa-icon>
            </app-button>
          </div>
        </div>
      </app-form>
      <app-alert
        *ngIf="errorAlert"
        [alertClassType]="'danger'"
        [alertClass]="'m-auto mt-6'"
      >
        {{ errorAlert }}
      </app-alert>
      <app-alert
        *ngIf="successAlert"
        [alertClassType]="'success'"
        [alertClass]="'m-auto mt-6'"
      >
        {{ successAlert }}
      </app-alert>
    </div>
    <ng-template #showError>
      <div class="center text-center m-0">{{ serverErrorAlert }}</div>
    </ng-template>
  </app-admin-wrapper>
</ng-template>
