/* ====== Imports ====== */
@import "../../../assets/scss/variables";

/* ====== Admin Wrapper ====== */
.admin-wrapper {
  z-index: $z-index-1;

  @media (min-width: $lg) {
    padding-left: $admin-wrapper-padding-left;
  }

  &-section {
    animation: $admin-wrapper-section-animation;
    position: $position-relative;
    background-color: $admin-wrapper-section-bg-color;
    padding-top: $admin-wrapper-section-padding-top;

    @media (min-width: $lg) {
      padding-top: $admin-wrapper-section-lg-padding-top;
    }

    .item {
      @media (min-width: $md) {
        max-width: $admin-wrapper-section-item-md-max-width;
      }
    }

    &__header {
      border-bottom: $admin-wrapper-header-border-bottom;
    }

    &__content {
      width: $admin-wrapper-content-width;
      max-width: $admin-wrapper-content-max-width;

      &--products {
        @media (min-width: $lg) {
          max-width: $admin-wrapper-content-products-max-width;
        }
      }
    }
  }
}
