<div *ngIf="isLoading; else editOrderPageView" class="spinner-wrapper">
  <app-spinner></app-spinner>
</div>
<ng-template #editOrderPageView>
  <section class="admin-page-section p-6 min-vh-100">
    <header class="admin-page-section__header">
      <h2 class="h4 text-center mb-6">Edytuj zamówienie</h2>
    </header>
    <article
      *ngIf="!alerts.server; else showError"
      class="admin-page-section__article m-auto mt-6 text-center"
    >
      <p>Tutaj możesz zarządzać złożonym zamówieniem.</p>
      <div class="text-left mb-6">
        <app-router-link
          [linkTitle]="'Wróć do zamówień'"
          [linkRouter]="'/admin/zamowienia'"
        >
          <app-fa-icon [faClass]="'fas fa-arrow-left mr-1'"></app-fa-icon>Wróć
        </app-router-link>
      </div>
      <div class="mb-6">
        <app-order-summary [order]="order"></app-order-summary>
        <div class="order-status">
          <h3 class="h6 mb-4 bolder">Status zamówienia</h3>
          <div
            class="mb-2"
            [ngClass]="order.isPaid ? 'text-success' : 'text-danger'"
          >
            {{
              order.isPaid
                ? "Zamówienie zostało opłacone."
                : "Zamówienie nie zostało opłacone."
            }}
          </div>
          <div *ngIf="order.isAccepted" class="text-success mb-2">
            Zamówienie zostało zaakceptowane i oznaczone jako wysłane.
          </div>
          <div *ngIf="order.isRefused" class="text-danger">
            Zamówienie zostało odrzucone.
          </div>
        </div>
      </div>
      <div class="flex flex-column sm:block">
        <app-button
          *ngIf="!order.isAccepted"
          [buttonTitle]="'Zaakceptuj zamówienie i oznacz jako wysłane'"
          [buttonDisabled]="isDisabled || !order.isPaid"
          [buttonClass]="acceptButtonClass()"
          [buttonOnClick]="true"
          (whenButtonClick)="openModal(false)"
        >
          Zaakceptuj i wyślij
          <app-fa-icon [faClass]="'far fa-paper-plane ml-1'"></app-fa-icon>
        </app-button>
        <app-button
          *ngIf="!order.isRefused"
          [buttonTitle]="'Oznacz zamówienie jako odrzucone'"
          [buttonDisabled]="isDisabled || !order.isPaid"
          [buttonClass]="'button button-danger button-small'"
          [buttonOnClick]="true"
          (whenButtonClick)="openModal(true)"
        >
          Odrzuć
          <app-fa-icon [faClass]="'far fa-trash-alt ml-1'"></app-fa-icon>
        </app-button>
      </div>
      <app-alert
        *ngIf="alerts.error"
        [alertClass]="'alert alert-danger mt-6 m-auto'"
      >
        {{ alerts.error }}
      </app-alert>
      <app-alert
        *ngIf="alerts.success"
        [alertClass]="'alert alert-success mt-6 m-auto'"
      >
        {{ alerts.success }}
      </app-alert>
    </article>
    <ng-template #showError>
      <p class="center m-0">{{ alerts.server }}</p>
    </ng-template>
  </section>
  <app-modal *ngIf="modal" (whenButtonClick)="!isDisabled && closeModal()">
    <div class="text-center">
      <p>
        <strong class="normal">
          <div class="text-danger mb-4 bolder uppercase">
            {{
              order.isPaid
                ? "Zamówienie zostało już opłacone"
                : "Zamówienie nie zostało jeszcze opłacone"
            }}
          </div>
          {{
            isRefused
              ? "Czy napewno chcesz anulować "
              : "Czy napewno chcesz zaakceptować i wysłać "
          }}
          zamówienie o ID {{ order._id }}&nbsp;?
        </strong>
      </p>
      <app-button
        [buttonTitle]="buttonTitle(isDisabled && modal)"
        [buttonClass]="buttonClass()"
        [buttonDisabled]="isDisabled"
        [buttonOnClick]="true"
        (whenButtonClick)="updateOrder()"
      >
        {{ buttonText(isDisabled && modal) }}
        <app-fa-icon
          *ngIf="isDisabled"
          [faClass]="'fas fa-spinner fa-spin ml-1'"
        ></app-fa-icon>
      </app-button>
    </div>
  </app-modal>
</ng-template>
