<section>
  <h2 class="h4 mb-4 text-center">Podsumowanie</h2>
  <div class="row">
    <div class="column-12 md:column-8 md:m-auto lg:column-6">
      <div class="p-4">
        <app-order-summary [order]="getOrder()"></app-order-summary>
      </div>
      <div class="p-4">
        <div class="mb-4">
          <div class="text-center">
            <app-button
              [buttonTitle]="'Wróć do płatności'"
              [buttonOnClick]="true"
              (whenButtonClick)="onPrevStep()"
            >
              Wróć
            </app-button>
            <app-button
              [buttonClass]="'button button-primary ml-4'"
              [buttonTitle]="'Złóż zamówienie'"
              [buttonOnClick]="true"
              (whenButtonClick)="onNextStep()"
            >
              Złóż zamówienie
            </app-button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
