// Imports
@import "../../../assets/scss/variables";

.avatar {
  width: 12rem;
  height: 12rem;
  border-radius: 50%;

  &--default {
    background-color: lighten($color-gray, 20%);
    color: $color-gray;
    font-size: 6rem;
  }
}
