/* ====== Imports ====== */
@import "../../../assets/scss/variables";

/* ====== Swiper Product ====== */
.swiper-product {
  .swiper-wrapper {
    align-items: center;
  }

  .swiper-slider {
    margin: 0px 40px;
  }

  .swiper-container {
    padding-bottom: 40px;
    position: static;
  }

  .swiper-button-next {
    right: -30px;
  }

  .swiper-button-prev {
    left: -30px;
  }
}

.swiper-button-prev:after,
.swiper-button-next:after {
  font-size: 3rem;
}
