<div *ngIf="isLoading; else profilePageView" class="spinner-wrapper">
  <app-spinner></app-spinner>
</div>
<ng-template #profilePageView>
  <section class="admin-page-section p-6 min-vh-100">
    <header class="admin-page-section__header">
      <h2 class="h4 text-center mb-6">
        Profil użytkownika
      </h2>
    </header>
    <article
      *ngIf="!alerts.server; else showError"
      class="admin-page-section__article m-auto mt-6 text-center"
    >
      <p>
        Tutaj możesz zmienić ustawienia dla swojego konta.
      </p>
      <app-form
        [formClass]="'form text-left inline-block'"
        [formName]="form"
        (whenFormSubmit)="submit()"
      >
        <div class="row">
          <div class="column-12 mb-4">
            <app-input
              [inputLabelClass]="'block mb-2 bold'"
              [inputID]="'username'"
              [inputLabel]="'Nazwa użytkownika'"
              [inputPlaceholder]="'Nazwa użytkownika'"
              [inputClass]="'form__input w-100'"
              [inputValidation]="validation('username')"
              [inputAlerts]="usernameAlerts"
              [inputRequired]="false"
              [inputGroup]="form"
              [inputForm]="form"
            ></app-input>
          </div>
          <div class="column-12 mb-4">
            <app-input
              [inputLabelClass]="'block mb-2 bold'"
              [inputID]="'name'"
              [inputLabel]="'Imię'"
              [inputPlaceholder]="'Jan'"
              [inputClass]="'form__input w-100'"
              [inputValidation]="validation('name')"
              [inputAlerts]="nameAlerts"
              [inputRequired]="false"
              [inputGroup]="form"
              [inputForm]="form"
            ></app-input>
          </div>
          <div class="column-12 mb-4">
            <app-input
              [inputLabelClass]="'block mb-2 bold'"
              [inputID]="'email'"
              [inputType]="'email'"
              [inputLabel]="'Adres email'"
              [inputPlaceholder]="'example@domain.com'"
              [inputClass]="'form__input w-100'"
              [inputValidation]="validation('email')"
              [inputAlerts]="emailAlerts"
              [inputRequired]="true"
              [inputGroup]="form"
              [inputForm]="form"
            ></app-input>
          </div>
          <div class="column-12 mb-4">
            <app-input
              [inputLabelClass]="'block mb-2 bold'"
              [inputID]="'password'"
              [inputType]="'password'"
              [inputLabel]="'Hasło'"
              [inputPlaceholder]="'********'"
              [inputClass]="'form__input w-100'"
              [inputValidation]="validation('password')"
              [inputAlerts]="passwordAlerts"
              [inputRequired]="false"
              [inputGroup]="form"
              [inputForm]="form"
            ></app-input>
          </div>
          <div class="column-12 mb-4">
            <app-input
              [inputLabelClass]="'block mb-2 bold'"
              [inputID]="'new_password'"
              [inputType]="'password'"
              [inputLabel]="'Nowe hasło'"
              [inputPlaceholder]="'********'"
              [inputClass]="'form__input w-100'"
              [inputValidation]="validation('new_password')"
              [inputAlerts]="newPasswordAlerts"
              [inputRequired]="false"
              [inputGroup]="form"
              [inputForm]="form"
            ></app-input>
          </div>
          <div class="column-12 mb-4">
            <app-input
              [inputLabelClass]="'block mb-2 bold'"
              [inputID]="'confirm_new_password'"
              [inputType]="'password'"
              [inputLabel]="'Powtórz nowe hasło'"
              [inputPlaceholder]="'********'"
              [inputClass]="'form__input w-100'"
              [inputValidation]="validation('confirm_new_password')"
              [inputAlerts]="confirmNewPasswordAlerts"
              [inputRequired]="false"
              [inputGroup]="form"
              [inputForm]="form"
            ></app-input>
          </div>
          <div class="column-12 mb-4">
            <app-file-input
              [inputLabelClass]="'block mb-2 bold'"
              [inputID]="'avatar'"
              [inputLabel]="'Wgraj zdjęcie'"
              [inputRequired]="false"
              [inputMessage]="file"
              (whenFileAdd)="addFile($event)"
            ></app-file-input>
          </div>
          <div class="column-12 mb-4 text-center">
            <app-button
              [buttonType]="'submit'"
              [buttonTitle]="computedButtonTitle()"
              [buttonDisabled]="isDisabled"
            >
              {{ computedButtonText() }}
              <app-fa-icon
                *ngIf="isDisabled"
                [faClass]="'fas fa-spinner fa-spin ml-1'"
              ></app-fa-icon>
            </app-button>
          </div>
        </div>
      </app-form>
      <app-alert
        *ngIf="alerts.error"
        [alertClass]="'alert alert-danger mt-6 m-auto'"
      >
        {{ alerts.error }}
      </app-alert>
      <app-alert
        *ngIf="alerts.success"
        [alertClass]="'alert alert-success mt-6 m-auto'"
      >
        {{ alerts.success }}
      </app-alert>
    </article>
    <ng-template #showError>
      <p class="center m-0">{{ alerts.server }}</p>
    </ng-template>
  </section>
</ng-template>
