<div *ngIf="isLoading; else faqPageView" class="spinner-wrapper">
  <app-spinner></app-spinner>
</div>
<ng-template #faqPageView>
  <section class="admin-faq-page p-6 min-vh-100">
    <header class="admin-faq-page__header">
      <h2 class="h4 text-center mb-6">Najczęściej zadawane pytania</h2>
    </header>
    <article class="mt-6 text-center">
      <p>
        Tutaj możesz zarządzać najczęściej zadawanymi pytaniami. Dodawaj, usuwaj
        lub edytuj pytania.
      </p>
    </article>
  </section>
</ng-template>
