<div *ngIf="isLoading; else faqPageView" class="spinner-wrapper">
  <app-spinner></app-spinner>
</div>
<ng-template #faqPageView>
  <section class="admin-page-section p-6 min-vh-100">
    <header class="admin-page-section__header">
      <h2 class="h4 text-center mb-6">Najczęściej zadawane pytania</h2>
    </header>
    <article
      *ngIf="!alerts.server; else showError"
      class="admin-page-section__article m-auto mt-6 text-center"
    >
      <p class="mb-6">
        Tutaj możesz zarządzać najczęściej zadawanymi pytaniami. Dodawaj, usuwaj
        lub edytuj pytania.
      </p>
      <div class="mb-6">
        <app-router-link
          [linkTitle]="'Dodaj nowe pytanie'"
          [linkClass]="'button button-success button-small mr-4'"
          [linkRouter]="'dodaj'"
        >
          Dodaj pytanie
          <app-fa-icon [faClass]="'fas fa-plus ml-1'"></app-fa-icon>
        </app-router-link>
        <app-button
          *ngIf="faqs.length"
          [buttonTitle]="'Usuń wszystkie pytania'"
          [buttonClass]="'button button-danger button-small'"
          [buttonOnClick]="true"
          (whenButtonClick)="openModal()"
        >
          Usuń pytania
          <app-fa-icon [faClass]="'far fa-trash-alt ml-1'"></app-fa-icon>
        </app-button>
      </div>
      <app-alert
        *ngIf="alerts.error || alerts.server"
        [alertClass]="'alert alert-danger mb-6 m-auto'"
      >
        {{ alerts.error ? alerts.error : alerts.server }}
      </app-alert>
      <app-alert
        *ngIf="alerts.success"
        [alertClass]="'alert alert-success mb-6 m-auto'"
      >
        {{ alerts.success }}
      </app-alert>
      <div *ngIf="faqs.length; else showDefault" class="w-100">
        <div *ngFor="let faq of faqs">
          <h3 class="h4 mb-6 text-primary">
            {{ faq.category | titlecase }}
          </h3>
          <div *ngFor="let question of faq.questions" class="mb-10">
            <div class="question overflow-hidden mb-4 text-left">
              <div class="question__head">
                <div class="question--border-bottom p-2 break-word">
                  <span class="bold">Tytuł</span>: {{ question.title }}
                </div>
              </div>
              <div class="markdown p-2" [innerHTML]="question.content"></div>
            </div>
            <div>
              <app-router-link
                [linkTitle]="'Edytuj pytanie'"
                [linkClass]="'button button-primary button-small'"
                [linkRouter]="editLink(question._id)"
              >
                Edytuj
                <app-fa-icon [faClass]="'fas fa-pencil-alt ml-1'"></app-fa-icon>
              </app-router-link>
              <app-button
                [buttonTitle]="'Usuń pytanie'"
                [buttonClass]="'button button-danger button-small ml-4'"
                [buttonOnClick]="true"
                (whenButtonClick)="openModal(question)"
              >
                Usuń
                <app-fa-icon [faClass]="'far fa-trash-alt ml-1'"></app-fa-icon>
              </app-button>
            </div>
          </div>
        </div>
      </div>
      <ng-template #showDefault>
        <p class="mt-4 mb-0">Brak pytań.</p>
      </ng-template>
    </article>
    <ng-template #showError>
      <p class="center m-0">{{ alerts.server }}</p>
    </ng-template>
  </section>
  <app-modal
    *ngIf="modals.deleteFAQ"
    (whenButtonClick)="!isDisabled && closeModal('deleteFAQ')"
  >
    <div class="text-center">
      <p>
        <strong class="normal">
          Czy napewno chcesz usunąć pytanie: "{{ modals.deleteFAQ.title }}" z
          sekcji FAQ&nbsp;?
        </strong>
      </p>
      <app-button
        [buttonTitle]="buttonTitle(isDisabled)"
        [buttonClass]="'button button-danger'"
        [buttonDisabled]="isDisabled"
        [buttonOnClick]="true"
        (whenButtonClick)="deleteFAQ(modals.deleteFAQ._id)"
      >
        {{ buttonText(isDisabled) }}
        <app-fa-icon
          *ngIf="isDisabled"
          [faClass]="'fas fa-spinner fa-spin ml-1'"
        ></app-fa-icon>
      </app-button>
    </div>
  </app-modal>
  <app-modal
    *ngIf="modals.deleteFAQs.length"
    (whenButtonClick)="!isDisabled && closeModal('deleteFAQs')"
  >
    <div class="text-center">
      <p>
        <strong class="normal">
          Czy napewno chcesz usunąć wszystkie pytania&nbsp;?
        </strong>
      </p>
      <app-button
        [buttonTitle]="buttonTitle(isDisabled)"
        [buttonClass]="'button button-danger'"
        [buttonDisabled]="isDisabled"
        [buttonOnClick]="true"
        (whenButtonClick)="deleteFAQs()"
      >
        {{ buttonText(isDisabled) }}
        <app-fa-icon
          *ngIf="isDisabled"
          [faClass]="'fas fa-spinner fa-spin ml-1'"
        ></app-fa-icon>
      </app-button>
    </div>
  </app-modal>
</ng-template>
