<div *ngIf="isLoading; else faqPageView" class="spinner-wrapper">
  <app-spinner></app-spinner>
</div>
<ng-template #faqPageView>
  <section class="admin-page-section p-6 min-vh-100">
    <header class="admin-page-section__header">
      <h2 class="h4 text-center mb-6">Najczęściej zadawane pytania</h2>
    </header>
    <article
      *ngIf="!alerts.server; else showError"
      class="admin-page-section__article m-auto mt-6 text-center"
    >
      <p class="mb-6">
        Tutaj możesz zarządzać najczęściej zadawanymi pytaniami. Dodawaj, usuwaj
        lub edytuj pytania.
      </p>
      <app-router-link
        [linkTitle]="'Dodaj nowe pytanie'"
        [linkClass]="'button button-success mb-6'"
        [linkRouter]="'dodaj'"
      >
        Dodaj pytanie
        <app-fa-icon [faClass]="'fas fa-plus ml-2'"></app-fa-icon>
      </app-router-link>
      <app-alert
        *ngIf="alerts.error || alerts.server"
        [alertClass]="'alert alert-danger'"
      >
        {{ alerts.error ? alerts.error : alerts.server }}
      </app-alert>
      <app-alert *ngIf="alerts.success" [alertClass]="'alert alert-success'">
        {{ alerts.success }}
      </app-alert>
      <div *ngIf="faqs && faqs.length; else showDefault" class="w-100">
        <div class="mb-4" *ngFor="let category of categories">
          <h3 class="h5 mb-4">{{ category | titlecase }}</h3>
          <div *ngFor="let faq of faqs">
            <app-list-item *ngIf="faq.category === category">
              <div class="w-100">
                <h4 class="p">{{ faq.title }}</h4>
                <div class="markdown" [innerHTML]="faq.content"></div>
                <app-button
                  [buttonTitle]="'Usuń pytanie'"
                  [buttonClass]="'button button-danger button-small'"
                  [buttonOnClick]="true"
                  (whenButtonClick)="openModal(faq)"
                >
                  Usuń
                </app-button>
                <app-router-link
                  [linkTitle]="'Przejdź do edycji pytania'"
                  [linkClass]="'button button-primary button-small ml-4'"
                  [linkRouter]="computedFAQEditLink(faq._id)"
                >
                  Edytuj
                </app-router-link>
              </div>
            </app-list-item>
          </div>
        </div>
      </div>
      <ng-template #showDefault>
        <p class="mt-4 mb-0">Brak pytań.</p>
      </ng-template>
    </article>
    <ng-template #showError>
      <p class="center m-0">{{ alerts.server }}</p>
    </ng-template>
  </section>
  <app-modal
    *ngIf="questionToDelete"
    (whenButtonClick)="!isDisabled && closeModal()"
  >
    <div class="text-center">
      <p>
        <strong class="normal">
          Czy napewno chcesz usunąć pytanie: "{{ questionToDelete.title }}" z
          sekcji FAQ&nbsp;?
        </strong>
      </p>
      <app-button
        [buttonTitle]="computedButtonTitle()"
        [buttonClass]="'button button-danger'"
        [buttonDisabled]="isDisabled"
        [buttonOnClick]="true"
        (whenButtonClick)="submit(questionToDelete._id)"
        #deleteButton
      >
        {{ computedButtonText() }}
        <app-fa-icon
          *ngIf="isDisabled"
          [faClass]="'fas fa-spinner fa-spin'"
        ></app-fa-icon>
      </app-button>
    </div>
  </app-modal>
</ng-template>
