<div *ngIf="isLoading; else recoveryPageView" class="spinner-wrapper">
  <app-spinner></app-spinner>
</div>
<ng-template #recoveryPageView>
  <app-auth-wrapper [pageTitle]="'Odzyskiwanie hasła'">
    <p class="text-center">
      Jeżeli nie pamiętasz hasła możesz podać adres email, na który zostanie
      wysłana wiadomość z adresem do zmiany hasła.
    </p>
    <app-form
      (whenFormSubmit)="sendEmail()"
      [formName]="form"
      [formClass]="'form'"
    >
      <div class="row">
        <div class="column-12 mb-4">
          <app-input
            [inputLabelClass]="'block mb-2'"
            [inputID]="'email'"
            [inputLabel]="'Email:'"
            [inputType]="'email'"
            [inputPlaceholder]="'example@domain.com'"
            [inputClass]="'form__input w-100'"
            [inputValidation]="validation('email')"
            [inputAlerts]="emailValidationErrors"
            [inputGroup]="form"
            [inputForm]="form"
          ></app-input>
        </div>
        <div class="column-12 text-center">
          <app-button
            [buttonType]="'submit'"
            [buttonTitle]="buttonTitle(isDisabled)"
            [buttonDisabled]="isDisabled"
          >
            {{ buttonText(isDisabled) }}
            <app-fa-icon [faClass]="buttonIcon(isDisabled)"></app-fa-icon>
          </app-button>
        </div>
      </div>
    </app-form>
    <app-alert
      *ngIf="serverErrorAlert || errorAlert"
      [alertClass]="'alert alert-danger m-auto my-6'"
    >
      {{ serverErrorAlert ? serverErrorAlert : errorAlert }}
    </app-alert>
    <app-alert
      *ngIf="successAlert"
      [alertClass]="'alert alert-success m-auto my-6'"
    >
      <div *ngIf="isLink; else successMessage">
        Zresetuj hasło korzystając z
        <app-link
          [linkRouter]="successAlert"
          [linkTitle]="'Przejdź do strony zmiany hasła'"
          >linku</app-link
        >.
      </div>
      <ng-template #successMessage>
        {{ successAlert }}
      </ng-template>
    </app-alert>
    <app-alert *ngIf="isLink" [alertClass]="'alert alert-warning m-auto my-6'">
      Wysyłanie wiadomości zostało wyłączone na serwerze.
    </app-alert>
    <div class="mt-4">
      <app-router-link
        [linkRouter]="routes.LOGIN"
        [linkTitle]="'Wróć do strony logowania'"
      >
        <app-fa-icon [faClass]="'fas fa-arrow-left mr-1'"></app-fa-icon>Zaloguj
        się
      </app-router-link>
    </div>
  </app-auth-wrapper>
</ng-template>
