<div *ngIf="isLoading; else recoveryPageView" class="spinner-wrapper">
  <app-spinner></app-spinner>
</div>
<ng-template #recoveryPageView>
  <app-auth-wrapper>
    <p>
      Jeżeli nie pamiętasz hasła możesz podać adres email, na który zostanie
      wysłana wiadomość z adresem do zmiany hasła.
    </p>
    <app-form
      (whenFormSubmit)="submit()"
      [formName]="form"
      [formClass]="'form'"
    >
      <div class="row">
        <div class="column-12 mb-4">
          <app-input
            [inputLabelClass]="'block mb-2'"
            [inputID]="'email'"
            [inputLabel]="'Email:'"
            [inputType]="'email'"
            [inputPlaceholder]="'example@domain.com'"
            [inputClass]="'form__input w-100'"
            [inputValidation]="validation('email')"
            [inputAlerts]="emailAlerts"
            [inputGroup]="form"
            [inputForm]="form"
          ></app-input>
        </div>
        <div class="column-12 text-center">
          <app-button
            [buttonType]="'submit'"
            [buttonTitle]="computedButtonTitle()"
            [buttonDisabled]="isDisabled"
          >
            {{ computedButtonText() }}
            <app-fa-icon [faClass]="computedButtonIcon()"></app-fa-icon>
          </app-button>
        </div>
      </div>
    </app-form>
    <app-alert
      *ngIf="alerts.server || alerts.error"
      [alertClass]="'alert alert-danger m-auto my-6'"
    >
      {{ alerts.server ? alerts.server : alerts.error }}
    </app-alert>
    <app-alert
      *ngIf="alerts.success"
      [alertClass]="'alert alert-success m-auto my-6'"
    >
      {{ alerts.success }}
    </app-alert>
    <div>
      <app-router-link
        [linkRouter]="'/zaloguj'"
        [linkTitle]="'Wróć do strony logowania'"
      >
        <app-fa-icon [faClass]="'fas fa-arrow-left mr-1'"></app-fa-icon>Zaloguj
        się
      </app-router-link>
    </div>
  </app-auth-wrapper>
</ng-template>
