<div *ngIf="isLoading; else aboutPageView" class="spinner-wrapper">
  <app-spinner></app-spinner>
</div>
<ng-template #aboutPageView>
  <section class="admin-page-section p-6 min-vh-100">
    <header class="admin-page-section__header">
      <h2 class="h4 text-center mb-6">Informacje o sklepie</h2>
    </header>
    <article
      *ngIf="!alerts.server; else showError"
      class="admin-page-section__article m-auto mt-6 text-center"
    >
      <p>
        Tutaj możesz zmienić informacje dotyczące Twojego sklepu.
      </p>
      <app-form
        [formClass]="'form text-left inline-block'"
        [formName]="form"
        (whenFormSubmit)="submit()"
      >
        <div class="row">
          <div class="column-12 mb-4">
            <app-textarea
              [textareaID]="'information'"
              [textareaRows]="'12'"
              [textareaLabel]="'Informacje'"
              [textareaPlaceholder]="'Napisz coś o swojej stronie'"
              [textareaClass]="'form__textarea w-100'"
              [textareaValidation]="validation('information')"
              [textareaAlerts]="informationAlerts"
              [textareaGroup]="form"
              [textareaForm]="form"
              [textareaLabelClass]="'block mb-2 bold'"
            ></app-textarea>
          </div>
          <div class="column-12 mb-4 text-center">
            <app-button
              [buttonType]="'submit'"
              [buttonTitle]="computedButtonTitle()"
              [buttonDisabled]="isDisabled"
            >
              {{ computedButtonText() }}
              <app-fa-icon
                *ngIf="isDisabled"
                [faClass]="'fas fa-spinner fa-spin'"
              ></app-fa-icon>
            </app-button>
          </div>
        </div>
      </app-form>
      <app-alert *ngIf="alerts.error" [alertClass]="'alert alert-danger'">
        {{ alerts.error }}
      </app-alert>
      <app-alert *ngIf="alerts.success" [alertClass]="'alert alert-success'">
        {{ alerts.success }}
      </app-alert>
    </article>
    <ng-template #showError>
      <p class="center m-0">{{ alerts.server }}</p>
    </ng-template>
  </section>
</ng-template>
