<div *ngIf="isLoading; else main" class="spinner-wrapper">
  <app-spinner></app-spinner>
</div>
<ng-template #main>
  <app-admin-wrapper>
    <header class="admin-wrapper-section__header">
      <h2 class="h4 text-center mb-6">
        Informacje o sklepie
        <span class="hidden">- Ustawienia</span>
      </h2>
    </header>
    <article
      *ngIf="!serverErrorAlert; else showError"
      class="admin-wrapper-section__content m-auto mt-6 text-center"
    >
      <p class="mb-6">
        Tutaj możesz zmienić informacje dotyczące Twojego sklepu.
      </p>
      <app-form
        [formClass]="'form text-left inline-block'"
        [formName]="form"
        (whenFormSubmit)="saveSettings()"
      >
        <div class="row">
          <div class="column-12 mb-4">
            <app-textarea
              [textareaID]="'information'"
              [textareaRows]="'12'"
              [textareaLabel]="'Informacje'"
              [textareaPlaceholder]="'Napisz coś o swojej stronie'"
              [textareaClass]="'form__textarea w-100'"
              [textareaValidation]="validation('information')"
              [textareaAlerts]="informationValidationErrors"
              [textareaRequired]="false"
              [textareaMessage]="
                'Język Markdown jest wspierany. Niedozwolone znaki zostaną usunięte.'
              "
              [textareaGroup]="form"
              [textareaForm]="form"
              [textareaLabelClass]="'block mb-2 bold'"
            ></app-textarea>
          </div>
          <div class="column-12 text-center">
            <app-button
              [buttonType]="'submit'"
              [buttonTitle]="buttonTitle(isDisabled)"
              [buttonDisabled]="isDisabled"
            >
              {{ buttonText(isDisabled) }}
              <app-fa-icon
                *ngIf="isDisabled"
                [faClass]="'fas fa-spinner fa-spin ml-1'"
              ></app-fa-icon>
            </app-button>
          </div>
        </div>
      </app-form>
      <app-alert
        *ngIf="errorAlert"
        [alertClassType]="'danger'"
        [alertClass]="'mt-6 m-auto'"
      >
        {{ errorAlert }}
      </app-alert>
      <app-alert
        *ngIf="successAlert"
        [alertClassType]="'success'"
        [alertClass]="'mt-6 m-auto'"
      >
        {{ successAlert }}
      </app-alert>
    </article>
    <ng-template #showError>
      <div class="center text-center m-0">{{ serverErrorAlert }}</div>
    </ng-template>
  </app-admin-wrapper>
</ng-template>
