<div class="newsletter py-10 px-4">
  <div class="newsletter__wrapper m-auto text-center mt-4">
    <h3 class="h6">Zapisz się na newsletter</h3>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio
      molestiae itaque eligendi tempora?
    </p>
    <app-form
      [formClass]="'form m-auto text-left'"
      [formName]="form"
      (whenFormSubmit)="submit()"
    >
      <div class="row">
        <div class="column-12 mb-4">
          <app-input
            [inputLabelClass]="'hidden'"
            [inputID]="'email'"
            [inputGroupClass]="'md:mr-1'"
            [inputLabel]="'Adres email'"
            [inputPlaceholder]="'example@domain.com'"
            [inputClass]="'form__input w-100'"
            [inputValidation]="validation('email')"
            [inputAlerts]="emailAlerts"
            [inputGroup]="form"
            [inputForm]="form"
          ></app-input>
        </div>
        <div class="column-12 mb-4 text-center">
          <app-button
            [buttonType]="'submit'"
            [buttonTitle]="computedButtonTitle()"
            [buttonDisabled]="isDisabled"
            [buttonClass]="button"
          >
            {{ computedButtonText() }}
            <app-fa-icon
              *ngIf="isDisabled"
              [faClass]="'fas fa-spinner fa-spin'"
            ></app-fa-icon>
          </app-button>
        </div>
      </div>
    </app-form>
  </div>
</div>
