<div class="newsletter py-10 px-4">
  <div class="newsletter__wrapper m-auto text-center mt-4">
    <h3 class="bolder mb-6">NEWSLETTER</h3>
    <p class="mb-6">
      Chcesz być na bieżąco ze wszystkimi nowościami. Zapisz się na newsletter
      już teraz.
    </p>
    <app-form
      [formClass]="'form m-auto text-left'"
      [formName]="form"
      (whenFormSubmit)="submit()"
    >
      <div class="row">
        <div class="column-12 mb-4">
          <app-input
            [inputLabelClass]="'hidden'"
            [inputID]="'email'"
            [inputLabel]="'Adres email'"
            [inputPlaceholder]="'example@domain.com'"
            [inputClass]="'form__input w-100'"
            [inputValidation]="validation('email')"
            [inputAlerts]="emailAlerts"
            [inputGroup]="form"
            [inputForm]="form"
          ></app-input>
        </div>
        <div class="column-12 mb-4">
          <div class="m-auto text-center">
            <app-terms-checkbox
              [checkboxID]="'terms_accepted'"
              [checkboxValidation]="validation('terms_accepted')"
              [checkboxAlerts]="termsAlerts"
              [checkboxGroup]="form"
              [checkboxForm]="form"
              (whenClickEnter)="toggleCheckbox()"
              (whenClickLink)="openModal()"
            ></app-terms-checkbox>
          </div>
        </div>
        <div class="column-12 text-center">
          <app-button
            [buttonType]="'submit'"
            [buttonTitle]="computedButtonTitle()"
            [buttonDisabled]="isDisabled"
            [buttonClass]="'button button-primary'"
          >
            {{ computedButtonText() }}
            <app-fa-icon [faClass]="computedButtonIcon()"></app-fa-icon>
          </app-button>
        </div>
      </div>
    </app-form>
    <app-alert
      *ngIf="alerts.error || alerts.server"
      [alertClass]="'alert alert-danger m-auto mt-6'"
    >
      {{ alerts.error ? alerts.error : alerts.server }}
    </app-alert>
    <app-alert
      *ngIf="alerts.success"
      [alertClass]="'alert alert-success m-auto mt-6'"
    >
      {{ alerts.success }}
    </app-alert>
  </div>
</div>
