/* ====== Imports ====== */
@import "../../../assets/scss/variables";

/* ====== Logo ====== */
.logo {
  height: $logo-height;
  margin: $logo-margin;
  font-size: $logo-font-size;
  line-height: $logo-line-height;

  &__link {
    padding: $logo-link-padding;
  }
}
