/* ====== Imports ====== */
@import "./variables";

/* ====== Basic ====== */
* {
  box-sizing: $basic-box-sizing;

  &::before,
  &::after {
    box-sizing: $basic-box-sizing;
  }
}

/* ====== Selection ====== */
::selection {
  background-color: $selection-bg-color;
  color: $selection-color;
}

/* ====== HTML ====== */
html {
  font-size: $html-font-size;
}

/* ====== Font Family ====== */
body,
input,
select,
textarea {
  font-family: $font-family;
}

/* ====== Body ====== */
body {
  color: $body-color;
  background-color: $body-bg-color;
  font-size: $body-font-size;
  line-height: $body-line-height;
}

/* ====== Paragraph ====== */
p,
.p {
  font-size: $paragraph-font-size;
  line-height: $paragraph-line-height;
  margin: $paragraph-margin;

  &:focus {
    outline: $paragraph-outline-focus;
  }
}

/* ====== Headers ====== */
h6,
.h6 {
  font-size: $h6-font-size;
  line-height: $h6-line-height;
}

h5,
.h5 {
  font-size: $h5-font-size;
  line-height: $h5-line-height;
}

h4,
.h4 {
  font-size: $h4-font-size;
  line-height: $h4-line-height;
}

h3,
.h3 {
  font-size: $h3-font-size;
  line-height: $h3-line-height;
}

h2,
.h2 {
  font-size: $h2-font-size;
  line-height: $h2-line-height;
}

h1,
.h1 {
  font-size: $h1-font-size;
  line-height: $h1-line-height;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: $headers-font-weight;
  margin: $headers-margin;

  &:focus {
    outline: $headers-outline-focus;
  }
}

/* ====== Buttons ====== */
button {
  padding: $button-padding;
  border-radius: $button-border-radius;
  border: none;
  cursor: $button-cursor;
}

/* ====== Link ====== */
a {
  text-decoration: $link-text-decoration;
  color: $link-color;

  &:hover {
    color: $link-color-hover;
    text-decoration: $link-text-decoration-hover;
  }
}

/* ====== Lists ====== */
ul,
li {
  margin: $lists-margin;
  padding: $lists-padding;
}

/* ====== Defaults ====== */
a,
input,
textarea,
select,
button {
  outline: $default-outline;
  transition: $default-transition;
  border-radius: $default-border-radius;

  &:focus {
    transition: $default-transition;
    box-shadow: $default-box-shadow-focus;
  }
}
