/* ====== Imports ====== */
@import "./variables";

/* ====== Buttons ====== */
.button {
  padding: $button-padding;
  border-radius: $button-border-radius;
  line-height: $button-line-height;
  cursor: $button-cursor;
  display: inline-block;
  color: $button-color;
  background-color: $button-bg-color;
  border: $button-border;
  transition: $button-transition;

  &:disabled {
    opacity: $button-opacity-disabled;
    cursor: $button-cursor-disabled;
  }

  &:focus {
    box-shadow: $button-box-shadow-focus;
  }

  &:hover {
    color: $button-color;
    background-color: $button-bg-color-hover;
    text-decoration: none;
    transition: $button-transition-hover;
  }

  &-small {
    padding: $button-small-padding;
    font-size: $button-small-font-size;
  }

  &-primary {
    color: $button-color;
    background-color: $button-primary-bg-color;
    border: $button-primary-border;

    &:hover {
      color: $button-color;
      background-color: $button-primary-bg-color-hover;
    }

    &:focus {
      box-shadow: $button-primary-box-shadow-focus;
    }
  }

  &-danger {
    color: $button-color;
    background-color: $button-danger-bg-color;
    border: $button-danger-border;

    &:hover {
      color: $button-color;
      background-color: $button-danger-bg-color-hover;
    }

    &:focus {
      box-shadow: $button-danger-box-shadow-focus;
    }
  }

  &-success {
    color: $button-color;
    background-color: $button-success-bg-color;
    border: $button-success-border;

    &:hover {
      color: $button-color;
      background-color: $button-success-bg-color-hover;
    }

    &:focus {
      box-shadow: $button-success-box-shadow-focus;
    }
  }
}
