/* ====== Imports ====== */
@import "./variables";

/* ====== Link ====== */
.link {
  padding: $link-padding;
  color: $link-color;
  background-color: $link-bg-color;
  line-height: $link-line-height;
  text-decoration: $link-text-decoration;

  &:hover {
    color: $link-color-hover;
    text-decoration: $link-text-decoration-hover;
  }

  &:focus {
    box-shadow: $link-box-shadow-focus;
  }
}
