/* ====== Imports ====== */
@import "./variables";
@import "./mixins";

/* ====== Positions ====== */
.relative {
  position: $position-relative;
}

.absolute {
  position: $position-absolute;
}

.fixed {
  position: $position-fixed;
}

.center {
  position: $position-absolute;
  @include center;
}

@each $width, $media in ($xs, "xs"), ($sm, "sm"), ($md, "md"), ($lg, "lg"),
  ($xl, "xl")
{
  @media (min-width: $width) {
    .#{$media}\:relative {
      position: $position-relative;
    }

    .#{$media}\:absolute {
      position: $position-absolute;
    }

    .#{$media}\:fixed {
      position: $position-fixed;
    }

    .#{$media}\:center {
      position: $position-absolute;
      @include center;
    }
  }
}
