/* ====== Imports ====== */
@import "./variables";

/* ====== Width ====== */
.w-auto {
  width: $width-auto;
}

.w-100 {
  width: $width-100;
}

.max-w-100 {
  max-width: $max-width;
}

.min-w-100 {
  min-width: $min-width;
}

.vw-100 {
  width: $view-width;
}

.max-vw-100 {
  max-width: $max-view-width;
}

.min-vw-100 {
  min-width: $min-view-width;
}

/* ====== Height ====== */
.h-auto {
  height: $height-auto;
}

.h-100 {
  height: $height-100;
}

.max-h-100 {
  max-height: $max-height;
}

.min-h-100 {
  min-height: $min-height;
}

.vh-100 {
  height: $view-height;
}

.max-vh-100 {
  max-height: $max-view-height;
}

.min-vh-100 {
  min-height: $min-view-height;
}

@each $width, $media in ($xs, "xs"), ($sm, "sm"), ($md, "md"), ($lg, "lg"),
  ($xl, "xl")
{
  @media (min-width: $width) {
    /* ====== Width ====== */
    .#{$media}\:w-auto {
      width: $width-auto;
    }

    .#{$media}\:w-100 {
      width: $width-100;
    }

    .#{$media}\:max-w-100 {
      max-width: $max-width;
    }

    .#{$media}\:min-w-100 {
      min-width: $min-width;
    }

    .#{$media}\:vw-100 {
      width: $view-width;
    }

    .#{$media}\:min-vw-100 {
      min-width: $min-view-width;
    }

    .#{$media}\:max-vw-100 {
      max-width: $max-view-width;
    }

    /* ====== Height ====== */
    .#{$media}\:h-auto {
      height: $height-auto;
    }

    .#{$media}\:h-100 {
      height: $height-100;
    }

    .#{$media}\:max-h-100 {
      max-height: $max-height;
    }

    .#{$media}\:min-h-100 {
      min-height: $min-height;
    }

    .#{$media}\:vh-100 {
      height: $view-height;
    }

    .#{$media}\:max-vh-100 {
      max-height: $max-view-height;
    }

    .#{$media}\:min-vh-100 {
      min-height: $min-view-height;
    }
  }
}
