<div *ngIf="isLoading; else showcaseView" class="spinner-wrapper">
  <app-spinner></app-spinner>
</div>
<ng-template #showcaseView>
  <section class="showcase-page min-vh-100 w-100">
    <header>
      <h2 class="hidden">Strona główna</h2>
    </header>
    <div class="slider-wrapper fade-animation m-auto lg:mt-5">
      <app-slider></app-slider>
    </div>
    <div
      class="slider-wrapper m-auto px-2 my-15"
      data-aos="fade-right"
      data-aos-offset="-500"
      data-aos-duration="500"
    >
      <div class="text-center">
        <h3 class="text-primary h5 bolder uppercase">Bestsellery</h3>
        <p>Zobacz nasze najlepiej sprzedające się produkty.</p>
      </div>
      <app-swiper-slider [products]="bestsellerProducts"></app-swiper-slider>
    </div>
    <div
      class="slider-wrapper m-auto px-2 mb-5"
      data-aos="fade-left"
      data-aos-offset="-400"
      data-aos-duration="500"
    >
      <div class="text-center">
        <h3 class="text-primary h5 bolder uppercase">Nowości</h3>
        <p>Zobacz nasze najnowsze produkty.</p>
      </div>
      <app-swiper-slider [products]="newProducts"></app-swiper-slider>
    </div>
    <article data-aos="fade" data-aos-offset="-200" data-aos-duration="300">
      <app-newsletter (whenOpenModal)="openModal()"></app-newsletter>
    </article>
  </section>
  <app-modal *ngIf="modal" (whenButtonClick)="closeModal()">
    <div class="text-justify">
      <div class="modal-term px-5">
        <h4 class="text-center">Regulamin</h4>
        <p class="m-0">
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Et, ducimus
          beatae pariatur ex fugiat harum nulla. Maxime, eum facere. Dolore
          explicabo sint expedita velit qui labore unde officia nemo omnis,
          inventore enim nostrum nihil voluptatem sed hic quos reiciendis
          tempora beatae doloremque est optio libero quibusdam ipsum architecto.
          Iste voluptatem rerum, aliquam nobis natus, magni cumque delectus
          omnis odit, aspernatur a nesciunt quo non harum deleniti. Neque
          consequatur repellat possimus, vero cupiditate pariatur eveniet!
          Deserunt eaque optio culpa voluptatem quos? Hic dignissimos, quaerat
          beatae ratione a ex nisi, repudiandae deserunt sit blanditiis, ipsum
          porro. Tempore blanditiis itaque ipsa odit incidunt.
        </p>
      </div>
    </div>
  </app-modal>
</ng-template>
