<div *ngIf="isLoading; else showcaseView" class="spinner-wrapper">
  <app-spinner></app-spinner>
</div>
<ng-template #showcaseView>
  <app-page-wrapper [className]="'showcase-page'">
    <header>
      <h2 class="hidden">Strona główna</h2>
    </header>
    <div class="slider-wrapper fade-animation m-auto lg:mt-5">
      <app-slider></app-slider>
    </div>
    <div
      class="slider-wrapper m-auto px-2 my-15"
      data-aos="fade-right"
      data-aos-offset="150"
      data-aos-duration="500"
      *ngIf="bestsellerProducts.length"
    >
      <div class="text-center">
        <h3 class="text-primary h5 bolder uppercase">Bestsellery</h3>
        <p>Zobacz nasze najlepiej sprzedające się produkty.</p>
      </div>
      <app-swiper-slider
        [products]="bestsellerProducts"
        [link]="'bestsellery'"
      ></app-swiper-slider>
    </div>
    <div
      class="slider-wrapper m-auto px-2 mb-5"
      data-aos="fade-left"
      data-aos-offset="150"
      data-aos-duration="500"
      *ngIf="newProducts.length"
    >
      <div class="text-center">
        <h3 class="text-primary h5 bolder uppercase">Nowości</h3>
        <p>Zobacz nasze najnowsze produkty.</p>
      </div>
      <app-swiper-slider
        [products]="newProducts"
        [link]="'nowosci'"
      ></app-swiper-slider>
    </div>
    <article data-aos="fade" data-aos-offset="150" data-aos-duration="500">
      <app-newsletter (whenOpenModal)="openModal()"></app-newsletter>
    </article>
  </app-page-wrapper>
  <app-modal *ngIf="modal" (whenButtonClick)="closeModal()">
    <div class="text-justify">
      <div class="modal-term px-5">
        <h4 class="text-center">Regulamin</h4>
        <p class="m-0">
          {{ regulations.content }}
        </p>
      </div>
    </div>
  </app-modal>
</ng-template>
