<ul class="navigation" id="navigationControls">
  <li class="navigation__item navigation__item--first">
    <div class="navigation__wrapper">
      <button
        class="navigation__link navigation__link--pointer relative block text-left"
        id="productsDropdown"
        title="Nasze produkty"
        type="button"
        aria-haspopup="true"
        (click)="toggle()"
        #parent
      >
        Produkty
      </button>
    </div>
    <ul
      [ngClass]="{ open: isOpen }"
      class="navigation navigation--dropdown"
      aria-labelledby="productsDropdown"
      #dropdown
    >
      <li
        *ngIf="!categories.length; else showCategories"
        class="navigation__item"
      >
        <div class="navigation__wrapper">
          <span
            class="navigation__link navigation__link--no-hover relative block text-left"
          >
            Brak produktów
          </span>
        </div>
      </li>
      <ng-template #showCategories>
        <li class="navigation__item">
          <div class="navigation__wrapper">
            <a
              class="navigation__link relative block text-left"
              routerLinkActive="active"
              [title]="'Zobacz wszystkie produkty'"
              [routerLink]="'/produkty'"
              [routerLinkActiveOptions]="{ exact: true }"
              #rlaLink="routerLinkActive"
            >
              Wszystkie
              <span *ngIf="rlaLink.isActive" class="hidden">
                (tutaj jesteś)
              </span>
            </a>
          </div>
        </li>
        <li
          class="navigation__item"
          *ngFor="let category of categories; trackBy: trackID"
        >
          <app-navigation-item [category]="category"></app-navigation-item>
        </li>
      </ng-template>
    </ul>
  </li>
  <li class="navigation__item">
    <div class="navigation__wrapper">
      <a
        class="navigation__link relative block text-left"
        title="Skontaktuj się"
        routerLink="/kontakt"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        #rlaContact="routerLinkActive"
      >
        Kontakt
        <span *ngIf="rlaContact.isActive" class="hidden">(tutaj jesteś)</span>
      </a>
    </div>
  </li>
  <li class="navigation__item">
    <div class="navigation__wrapper">
      <a
        class="navigation__link relative block text-left"
        title="Dowiedz się kim jesteśmy"
        routerLink="/o-nas"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        #rlaAbout="routerLinkActive"
      >
        O nas
        <span *ngIf="rlaAbout.isActive" class="hidden">(tutaj jesteś)</span>
      </a>
    </div>
  </li>
  <li class="navigation__item">
    <div class="navigation__wrapper navigation__wrapper">
      <a
        class="navigation__link relative block text-left"
        title="Najczęściej zadawane pytania"
        routerLink="/najczesciej-zadawane-pytania"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        #rlaFAQ="routerLinkActive"
      >
        FAQ
        <span *ngIf="rlaFAQ.isActive" class="hidden">(tutaj jesteś)</span>
      </a>
    </div>
  </li>
  <li class="navigation__item" *ngIf="user">
    <div class="navigation__wrapper navigation__wrapper--last">
      <a
        class="navigation__link navigation__link--admin relative block md:text-center"
        title="Przejdź do panelu administratora"
        routerLink="/admin"
      >
        <app-fa-icon [faClass]="'far fa-user'"></app-fa-icon>
        <span class="hidden">Panel administratora</span>
      </a>
    </div>
  </li>
</ul>
