// Imports
@import "../assets/scss/variables";
@import "../assets/scss/animations";
@import "~aos/dist/aos.css";

.overflow-hidden {
  overflow: hidden;
  display: block;
  max-height: 100vh;
}

.fade-animation {
  animation: fade 2s forwards;
}

.no-pointer-event {
  pointer-events: none;
  user-select: none;
}

.spinner-z-index {
  z-index: 99999;
}

.markdown {
  p:last-of-type {
    margin-bottom: 0rem;
  }

  img {
    display: block;
    max-width: 80%;
    margin: 0rem auto;
  }

  ul,
  ol {
    margin-bottom: 1.6rem;
    padding-left: 2rem;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-size: 2rem;
    line-height: 2.8rem;
    margin-bottom: 1.6rem;
  }
}
