<div class="navigation__wrapper" #parent>
  <a
    *ngIf="!category.category; else button"
    class="navigation__link relative truncate block text-left"
    routerLinkActive="active"
    [title]="linkTitle(category.name)"
    [routerLink]="computedRouterLink(category.category)"
    [routerLinkActiveOptions]="{ exact: true }"
    #rlaLink="routerLinkActive"
  >
    {{ category.name }}
    <span *ngIf="rlaLink.isActive" class="hidden"> (tutaj jesteś) </span>
    <app-fa-icon
      *ngIf="isLinkBestsellers(category.category)"
      [faClass]="'navigation__icon ml-1 far fa-star'"
    ></app-fa-icon>
    <app-fa-icon
      [faClass]="'navigation__icon absolute ml-1 fas fa-chevron-right'"
    ></app-fa-icon>
  </a>
  <ng-template #button>
    <button
      class="navigation__link relative truncate block text-left"
      type="button"
      aria-haspopup="true"
      [id]="computedID(category._id)"
      [title]="buttonTitle(isOpen)"
      [disabled]="isDisabled"
      [attr.aria-expanded]="computedAriaExpanded()"
      (click)="toggle()"
    >
      {{ category.name }}
      <app-fa-icon [faClass]="computedIconClass()"></app-fa-icon>
    </button>
  </ng-template>
</div>
<ul
  *ngIf="category.category && isOpen"
  class="navigation navigation--dropdown"
  [attr.aria-labelledby]="computedID(category._id)"
  [@Slide]
  #dropdown
>
  <li
    class="navigation__item"
    *ngFor="let subcategory of category.category; trackBy: trackID"
  >
    <app-navigation-item [category]="subcategory"></app-navigation-item>
  </li>
</ul>
