<div class="navigation__wrapper" #parent>
  <a
    class="navigation__link relative truncate block text-left"
    routerLinkActive="active"
    [title]="linkTitle(category.name)"
    [routerLink]="computedRouterLink(category.category)"
    [routerLinkActiveOptions]="{ exact: true }"
    #rlaLink="routerLinkActive"
  >
    {{ category.name }}
    <span *ngIf="rlaLink.isActive" class="hidden"> (tutaj jesteś) </span>
    <app-fa-icon
      *ngIf="isLinkBestsellers(category.category)"
      [faClass]="'navigation__icon ml-1 far fa-star'"
    ></app-fa-icon>
    <app-fa-icon
      [faClass]="'navigation__icon absolute ml-1 fas fa-chevron-right'"
    ></app-fa-icon>
  </a>
</div>
