// Imports
@import "../../../assets/scss/variables";

// Modal
.modal {
  background: $color-white;
  color: $color-dark;
  border-radius: 0.4rem;
  border: 0.1rem solid darken($color-white, 7%);
  z-index: $z-index-3;
  width: 100%;
  max-width: 30rem;
  box-shadow: 0rem 0rem 1rem fade-out($color-gray, 0.5);
  padding: 6.5rem 1rem;

  @media (min-width: $sm) {
    max-width: 50rem;
  }

  @media (min-width: $lg) {
    max-width: 60rem;
  }

  .modal__button {
    position: absolute;
    top: 1rem;
    right: 1rem;
    background: transparent;
    border: 0;
    color: $color-dark;

    &:hover {
      background-color: transparent;
      color: $color-dark;
    }
  }
}
