// Imports
@import "../../../assets/scss/variables";

// Modal
.modal {
  background: $color-white;
  color: $color-dark;
  border-radius: 0.4rem;
  border: 0.1rem solid darken($color-white, 7%);
  width: 100%;
  max-width: 30rem;
  box-shadow: 0rem 0rem 1rem fade-out($color-gray, 0.5);
  padding: 6.5rem 2rem 2rem;

  @media (min-width: $sm) {
    max-width: 50rem;
  }

  @media (min-width: $lg) {
    max-width: 60rem;
  }

  &-wrapper {
    top: 0rem;
    left: 0rem;
    background-color: fade-out($color-dark, 0.5);
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: $z-index-3;
  }

  .modal__button {
    position: absolute;
    top: 1rem;
    right: 1rem;
    background: transparent;
    border: 0;
    color: $color-dark;

    &:hover {
      background-color: transparent;
      color: $color-dark;
    }
  }
}
