<div *ngIf="isLoading; else changePasswordPageView" class="spinner-wrapper">
  <app-spinner></app-spinner>
</div>
<ng-template #changePasswordPageView>
  <app-auth-wrapper *ngIf="!alerts.server; else showError">
    <p *ngIf="email">Zmień hasło dla konta z adresem email {{ email }}.</p>
    <app-form
      (whenFormSubmit)="submit()"
      [formName]="form"
      [formClass]="'form'"
    >
      <div class="row">
        <div class="column-12 mb-4">
          <app-input
            [inputLabelClass]="'block mb-2'"
            [inputID]="'password'"
            [inputType]="'password'"
            [inputLabel]="'Nowe hasło:'"
            [inputPlaceholder]="'********'"
            [inputClass]="'form__input w-100'"
            [inputValidation]="validation('password')"
            [inputAlerts]="passwordAlerts"
            [inputGroup]="form"
            [inputForm]="form"
          ></app-input>
        </div>
        <div class="column-12 mb-4">
          <app-input
            [inputLabelClass]="'block mb-2'"
            [inputID]="'confirm_password'"
            [inputType]="'password'"
            [inputLabel]="'Powtórz hasło:'"
            [inputPlaceholder]="'********'"
            [inputClass]="'form__input w-100'"
            [inputValidation]="validation('confirm_password')"
            [inputAlerts]="confirmPasswordAlerts"
            [inputGroup]="form"
            [inputForm]="form"
          ></app-input>
        </div>
        <div class="column-12 mb-4 text-center">
          <app-button
            [buttonType]="'submit'"
            [buttonTitle]="computedButtonTitle()"
            [buttonDisabled]="isDisabled"
          >
            {{ computedButtonText() }}
            <app-fa-icon
              *ngIf="isDisabled"
              [faClass]="'fas fa-spinner fa-spin ml-1'"
            ></app-fa-icon>
          </app-button>
        </div>
      </div>
    </app-form>
    <app-alert
      *ngIf="alerts.error"
      [alertClass]="'alert alert-danger m-auto my-6'"
    >
      {{ alerts.error }}
    </app-alert>
    <div>
      <app-router-link
        [linkRouter]="'/zaloguj'"
        [linkTitle]="'Wróć do strony logowania'"
      >
        <app-fa-icon [faClass]="'fas fa-arrow-left mr-1'"></app-fa-icon>Zaloguj
        się
      </app-router-link>
    </div>
  </app-auth-wrapper>
  <ng-template #showError>
    <div class="center text-center">
      <p class="m-0">{{ alerts.server }}.</p>
      <p *ngIf="alerts.server === 'Link wygasł'" class="m-0">
        Wróć do
        <app-router-link
          [linkRouter]="'/zaloguj'"
          [linkTitle]="'Wróć do strony logowania'"
          >strony logowania</app-router-link
        >.
      </p>
    </div>
  </ng-template>
</ng-template>
