/* ====== Imports ====== */
@import "../../../assets/scss/variables";

/* ====== Alert ====== */
.alert {
  padding: $alert-padding;
  width: $alert-width;
  max-width: $alert-max-width;
  border-radius: $alert-border-radius;
  background-color: $alert-bg-color;
  border: $alert-border;
  color: $alert-color;
  text-align: $alert-text-align;

  &-danger {
    border: $alert-danger-border;
    color: $alert-danger-color;
    background-color: $alert-danger-bg-color;

    a {
      color: $alert-danger-link-color;

      &:hover {
        color: $alert-danger-link-color-hover;
      }
    }
  }

  &-success {
    border: $alert-success-border;
    color: $alert-success-color;
    background-color: $alert-success-bg-color;

    a {
      color: $alert-success-link-color;

      &:hover {
        color: $alert-success-link-color-hover;
      }
    }
  }

  &-warning {
    border: $alert-warning-border;
    color: $alert-warning-color;
    background-color: $alert-warning-bg-color;

    a {
      color: $alert-warning-link-color;

      &:hover {
        color: $alert-warning-link-color-hover;
      }
    }
  }
}
