// Imports
@import "../../../../assets/scss/variables";

// Contact Page
.contact-page {
  overflow: hidden;
  background-color: $contact-page-bg-color;
  letter-spacing: 0.5px;
  padding-top: 6.6rem;

  &__title {
    display: inline-block;
  }
}
