// Imports
@import "../../../../assets/scss/variables";

// Search Button
.search-button {
  width: 4.5rem;
  height: 4.5rem;
  padding: 0.75rem;
  position: absolute;
  top: 0rem;
  right: 6.2rem;
  color: $search-button-color;
  background-color: $search-button-bg-color;
  font-size: 2.2rem;
  line-height: 3rem;
  text-align: center;
  transition: color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;

  @media (min-width: $md) {
    position: relative;
    top: 0;
    right: 0;
  }

  &:hover {
    color: $search-button-color-hover;
    transition: color 0.3s ease-in-out;
  }
}

// Search Bar
.search-bar {
  @media (min-width: $md) {
    width: 4.5rem;
    height: 4.5rem;
    position: absolute;
    top: 0rem;
    right: 1rem;
  }
}

// Search Form
.search-bar-form {
  padding: 0rem 1rem;
  overflow-y: hidden;

  @media (min-width: $md) {
    width: 30rem;
    position: absolute;
    top: 6.6rem;
    right: 0;
    padding: 0rem;
    overflow-y: inherit;

    &::after {
      content: "";
      position: absolute;
      top: -1rem;
      right: 1rem;
      display: block;
      border-bottom: 1rem solid $color-primary;
      border-right: 1rem solid transparent;
      border-left: 1rem solid transparent;
    }
  }

  &__row {
    padding: 1rem 0rem;

    @media (min-width: $md) {
      padding: 0rem;
    }
  }

  &__input {
    width: 100%;
    padding: 0.95rem 0.7rem 0.95rem 0rem;
    text-indent: 0.7rem;
    font-size: 1.6rem;
    line-height: 1.5;
    color: $search-bar-input-color;
    background-color: $search-bar-input-bg-color;
    border: 0.1rem solid $search-input-border-color;
    border-radius: 0.4rem;

    &::placeholder {
      color: $search-input-placeholder-color;
    }
  }
}
