// Imports
@import "../../../assets/scss/variables";

.product-card {
  &__image {
    width: 100%;
    overflow: hidden;
  }

  &__not-available {
    position: absolute;
    bottom: 0.4rem;
    left: 0.4rem;
    font-size: 1.4rem;
    width: calc(100% - 0.8rem);
    padding: 1rem;
    color: $color-white;
    background-color: $color-dark;
  }
}
