<div *ngIf="isLoading; else aboutView" class="spinner-wrapper">
  <app-spinner></app-spinner>
</div>
<ng-template #aboutView>
  <section class="about-page min-vh-100 w-100">
    <div class="sm:container">
      <div class="row">
        <header class="pt-10 pb-6 text-center column-12">
          <h3 class="about-page__title m-auto h4 bolder uppercase">
            Nie wiesz kim jesteśmy?
          </h3>
        </header>
      </div>
      <article class="row">
        <h3 class="hidden">Informacje o sklepie</h3>
        <div class="column-12 lg:column-9 m-auto">
          <p *ngIf="about.text; else defaultInfo">{{ about.text }}</p>
          <ng-template #defaultInfo>
            <p>Strona nie posiada informacji.</p>
          </ng-template>
        </div>
      </article>
    </div>
  </section>
</ng-template>
