<div *ngIf="isLoading; else mapPageView" class="spinner-wrapper">
  <app-spinner></app-spinner>
</div>
<ng-template #mapPageView>
  <section class="admin-page-section p-6 min-vh-100">
    <header class="admin-page-section__header">
      <h2 class="h4 text-center mb-6">Ustawienia mapy</h2>
    </header>
    <article
      *ngIf="!alerts.server; else showError"
      class="admin-page-section__article m-auto mt-6 text-center"
    >
      <p class="mb-6">
        Tutaj możesz zmienić położenie markera na mapie aby wskazywał miejsce
        Twojego sklepu. Pozycję możesz sprawdzić klikając w wybrane miejsce na
        mapie.
      </p>
      <app-form
        [formClass]="'form text-left m-auto'"
        [formName]="form"
        (whenFormSubmit)="submit()"
      >
        <div class="row">
          <div class="column-12 mb-4">
            <app-input
              [inputLabelClass]="'block mb-2 bold'"
              [inputID]="'latlng'"
              [inputLabel]="'Szerokość i długość geograficzna'"
              [inputPlaceholder]="'(00.00, 00.00)'"
              [inputClass]="'form__input w-100'"
              [inputValidation]="validation('latlng')"
              [inputAlerts]="latlngAlerts"
              [inputRequired]="false"
              [inputMessage]="
                'Proszę podać liczbę z minimum 1 miejscem po przecinku'
              "
              [inputGroup]="form"
              [inputForm]="form"
            ></app-input>
          </div>
          <div class="column-12 text-center">
            <app-button
              [buttonType]="'submit'"
              [buttonTitle]="computedButtonTitle()"
              [buttonDisabled]="isDisabled"
            >
              {{ computedButtonText() }}
              <app-fa-icon
                *ngIf="isDisabled"
                [faClass]="'fas fa-spinner fa-spin ml-1'"
              ></app-fa-icon>
            </app-button>
          </div>
        </div>
      </app-form>
      <app-alert
        *ngIf="alerts.error"
        [alertClass]="'alert alert-danger mt-6 m-auto'"
      >
        {{ alerts.error }}
      </app-alert>
      <app-alert
        *ngIf="alerts.success"
        [alertClass]="'alert alert-success mt-6 m-auto'"
      >
        {{ alerts.success }}
      </app-alert>
      <div class="mt-6">
        <app-map
          [isAdmin]="true"
          [mapData]="map"
          (whenMapClick)="setPosition($event)"
        ></app-map>
      </div>
    </article>
    <ng-template #showError>
      <p class="center m-0">{{ alerts.server }}</p>
    </ng-template>
  </section>
</ng-template>
