// Imports
@import "../../../assets/scss/variables";

// Slider
.slider {
  &__img {
    height: 100%;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;

    @media (min-width: $md) {
      background-position: 50% 20%;
    }
  }

  &__link {
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0rem;
    left: 0rem;
    z-index: $z-index-1;
  }
}
