// Imports
@import "../../../../assets/scss/variables";

// Form Checkbox
.form {
  &__checkbox {
    opacity: 0;
    height: 0;
    width: 0;
    font-size: 0;
    line-height: 0;
    overflow: hidden;
    position: absolute;

    &--label {
      display: inline-block;
      line-height: 2.4rem;
      position: relative;
      margin-left: 3.4rem;

      &::before {
        content: "";
        display: inline-block;
        position: absolute;
        top: 0rem;
        left: -3.4rem;
        width: 2.4rem;
        height: 2.4rem;
        border-radius: 0.4rem;
        border: 0.1rem solid $form-text-box-border-color;
        background-color: $color-white;
        cursor: pointer;
        transition: box-shadow 0.3s ease-in-out;
      }
    }

    &.invalid {
      + label::before {
        border: 0.1rem solid $color-danger;
      }

      &:focus + label::before {
        border: 0.1rem solid $color-danger;
        box-shadow: 0rem 0rem 0rem 0.3rem $form-invalid-focus-outline-color;
        transition: box-shadow 0.3s ease-in-out;
      }
    }

    &:focus + label::before {
      border: 0.1rem solid $color-primary;
      box-shadow: 0rem 0rem 0rem 0.3rem $form-focus-outline-color;
      transition: box-shadow 0.3s ease-in-out;
    }

    &:checked + label::before {
      content: "\f00c";
      font-family: "Font Awesome 5 Free";
      font-weight: 900;
      color: $color-white;
      text-align: center;
      font-size: 1.4rem;
      line-height: 2.4rem;
      border: 0.1rem solid $color-primary;
      background-color: $color-primary;
      transition: box-shadow 0.3s ease-in-out;
    }
  }
}
