<div class="order-summary">
  <h4 class="hidden">Podsumowanie zamówienia</h4>
  <div class="order-summary__products mb-6">
    <h3 class="h6 mb-4 bolder">Zakupione produkty</h3>
    <div
      class="order-summary__product mb-4"
      *ngFor="let product of order.products"
    >
      <img
        [src]="product.thumbnail"
        alt="Produkt"
        class="order-summary__image"
      />
      <div class="ml-4">
        <div>
          <span class="bold">Nazwa: </span>
          {{ product.name }}
        </div>
        <div>
          <span class="bold">Ilość: </span>
          {{ product.quantity }}
        </div>
        <div>
          <span class="bold">Cena: </span>
          {{ product.price }}
        </div>
      </div>
    </div>
    <div class="w-100">
      <div>
        <span class="bold">Liczba kupionych produktów: </span>
        {{ totalQuantity() }}
      </div>
      <div>
        <span class="bold">Całkowita cena: </span>
        {{ totalPrice() }}&nbsp;zł
      </div>
    </div>
  </div>
  <div class="order-contact-information mb-6">
    <h3 class="h6 mb-4 bolder">Dane odbiorcy</h3>
    <div>
      <span class="bold">Imię i nazwisko: </span>
      {{ order.contact.name }} {{ order.contact.surname }}
    </div>
    <div>
      <span class="bold">Miasto: </span>
      {{ order.contact.zip_code }} {{ order.contact.city }}
    </div>
    <div>
      <span class="bold">Adres: </span>
      {{ order.contact.street }} {{ order.contact.street_number }}
    </div>
    <div>
      <span class="bold">Numer telefonu: </span>
      <a [href]="'tel:' + order.contact.phone" title="Zadzwoń">
        {{ order.contact.phone }}
      </a>
    </div>
    <div>
      <span class="bold">Adres email: </span>
      <a [href]="'mailto:' + order.contact.email" title="Napisz wiadomość">
        {{ order.contact.email }}
      </a>
    </div>
  </div>
</div>
