// Imports
@import "../../../assets/scss/variables";

// Order Summary
.order-summary {
  @media (min-width: $lg) {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
  }

  &__right,
  &__left {
    width: 100%;
    max-width: 40rem;
  }

  &__product {
    display: flex;
    flex-wrap: nowrap;
  }

  &__image {
    width: 8rem;
  }
}
