// Imports
@import "../../../assets/scss/variables";

// Order Summary
.order-summary {
  &__product {
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    width: 100%;
  }

  &__image {
    width: 8rem;
  }
}
