<div *ngIf="isLoading; else addFAQPageView" class="spinner-wrapper">
  <app-spinner></app-spinner>
</div>
<ng-template #addFAQPageView>
  <section class="admin-page-section p-6 min-vh-100">
    <header class="admin-page-section__header">
      <h2 class="h4 text-center mb-6">Dodaj nowe pytanie</h2>
    </header>
    <article
      *ngIf="!alerts.server; else showError"
      class="admin-page-section__article m-auto mt-6 text-center"
    >
      <p>
        Tutaj możesz dodać nowe pytanie, które będzie wyświetlane w sekcji
        najczęściej zadawanych pytań na stronie.
      </p>
      <div class="text-left mb-4">
        <app-router-link
          [linkTitle]="'Wróć do pytań'"
          [linkRouter]="'/admin/strony/najczesciej-zadawane-pytania'"
        >
          <app-fa-icon [faClass]="'fas fa-arrow-left mr-1'"></app-fa-icon
          >Wróć</app-router-link
        >
      </div>
      <app-form
        [formClass]="'form text-left inline-block'"
        [formName]="form"
        (whenFormSubmit)="addFAQ()"
      >
        <div class="row">
          <div class="column-12 mb-4">
            <app-select
              [selectLabelClass]="'block mb-2 bold'"
              [selectID]="'category'"
              [selectLabel]="'Kategoria'"
              [selectClass]="'form__select w-100'"
              [selectValidation]="validation('category')"
              [selectAlerts]="categoryAlerts"
              [selectGroup]="form"
              [selectForm]="form"
              [selectOptions]="categories"
              [selectBy]="'category'"
            ></app-select>
          </div>
          <div class="column-12 mb-4">
            <app-input
              [inputLabelClass]="'block mb-2 bold'"
              [inputID]="'title'"
              [inputLabel]="'Pytanie'"
              [inputPlaceholder]="'Podaj pytanie'"
              [inputClass]="'form__input w-100'"
              [inputValidation]="validation('title')"
              [inputAlerts]="titleAlerts"
              [inputGroup]="form"
              [inputForm]="form"
            ></app-input>
          </div>
          <div class="column-12 mb-4">
            <app-textarea
              [textareaID]="'content'"
              [textareaRows]="'6'"
              [textareaLabel]="'Odpowiedź'"
              [textareaPlaceholder]="'Podaj odpowiedź pytania'"
              [textareaClass]="'form__textarea w-100'"
              [textareaValidation]="validation('content')"
              [textareaAlerts]="contentAlerts"
              [textareaGroup]="form"
              [textareaForm]="form"
              [textareaMessage]="
                'Język Markdown jest wspierany. Niedozwolone znaki zostaną usunięte.'
              "
              [textareaLabelClass]="'block mb-2 bold'"
            ></app-textarea>
          </div>
          <div class="column-12 text-center">
            <app-button
              [buttonType]="'submit'"
              [buttonTitle]="computedButtonTitle()"
              [buttonDisabled]="isDisabled"
            >
              {{ computedButtonText() }}
              <app-fa-icon
                *ngIf="isDisabled"
                [faClass]="'fas fa-spinner fa-spin ml-1'"
              ></app-fa-icon>
            </app-button>
          </div>
        </div>
      </app-form>
      <app-alert
        *ngIf="alerts.error"
        [alertClass]="'alert alert-danger mt-6 m-auto'"
      >
        {{ alerts.error }}
      </app-alert>
      <app-alert
        *ngIf="alerts.success"
        [alertClass]="'alert alert-success mt-6 m-auto'"
      >
        {{ alerts.success }}
      </app-alert>
    </article>
    <ng-template #showError>
      <p class="center text-center m-0">
        {{ alerts.server }}
      </p>
    </ng-template>
  </section>
</ng-template>
