// Imports
@import "../../../../assets/scss/variables";

// Form Radio
.form {
  &__radio {
    opacity: 0;
    height: 0;
    width: 0;
    font-size: 0;
    line-height: 0;
    overflow: hidden;
    position: absolute;

    &--label {
      display: block;
      line-height: 2.4rem;
      position: relative;
      margin-left: 3.4rem;

      &::before {
        content: "";
        display: inline-block;
        position: absolute;
        top: 0rem;
        left: -3.4rem;
        width: 2.4rem;
        height: 2.4rem;
        border-radius: 50%;
        border: 0.1rem solid $form-text-box-border-color;
        background-color: $color-white;
        cursor: pointer;
        transition: box-shadow 0.3s ease-in-out;
      }
    }

    &:focus + label::before {
      border: 0.1rem solid $color-primary;
      box-shadow: 0rem 0rem 0rem 0.3rem $form-focus-outline-color;
      transition: box-shadow 0.3s ease-in-out;
    }

    &:checked + label::before {
      content: "";
      font-size: 1.4rem;
      line-height: 2.4rem;
      border: 0.1rem solid $color-primary;
      background-color: $color-white;
      transition: box-shadow 0.3s ease-in-out;
    }

    &:checked + label::after {
      content: "";
      position: absolute;
      top: 0.4rem;
      left: -3rem;
      border-radius: 50%;
      width: 1.6rem;
      height: 1.6rem;
      background-color: $color-primary;
      transition: box-shadow 0.3s ease-in-out;
    }
  }
}
