<div *ngIf="isLoading; else main" class="spinner-wrapper">
  <app-spinner></app-spinner>
</div>
<ng-template #main>
  <main class="z-index-1 w-100 min-vh-100 relative bg-gradient">
    <section class="dashboard-showcase w-100 center text-center">
      <app-avatar *ngIf="user" [avatar]="user.avatar"></app-avatar>
      <h2 class="my-4">
        Witaj<span *ngIf="user"> {{ user.name || user.username }}</span
        >&nbsp;!
      </h2>
      <div>Użyj nawigacji w celu przejścia do interesującej Cię strony.</div>
    </section>
  </main>
</ng-template>
