/* ====== Imports ====== */
@import "../../../../assets/scss/variables";

/* ====== Dashboard Showcase ====== */
.dashboard-showcase {
  color: $dashboard-showcase-color;
  max-width: $dashboard-showcase-max-width;
  animation: $dashboard-showcase-animation;

  @media (min-width: $sm) {
    max-width: $dashboard-showcase-sm-max-width;
  }

  @media (min-width: $lg) {
    max-width: $dashboard-showcase-lg-max-width;
  }
}

.bg-gradient {
  background-color: $bg-gradient-bg-color;
  background-image: $bg-gradient-bg-image;
}
