/* ====== Imports ====== */
@import "../../../assets/scss/variables";

/* ====== Auth Wrapper ====== */
.auth-wrapper {
  max-width: $auth-wrapper-max-width;
  background: $color-white;
  border: $auth-wrapper-border;
  border-radius: $auth-wrapper-border-radius;
  animation: $auth-wrapper-animation;
}
