<div *ngIf="isLoading; else newsletterPageView" class="spinner-wrapper">
  <app-spinner></app-spinner>
</div>
<ng-template #newsletterPageView>
  <section class="admin-page-section relative p-6 min-vh-100">
    <header class="admin-page-section__header">
      <h2 class="h4 text-center mb-6">Newsletter</h2>
    </header>
    <article
      *ngIf="!alerts.server; else showError"
      class="admin-page-section__article m-auto mt-6 text-center"
    >
      <p class="mb-6">
        Tutaj znajdują się adresy email osób zapisanych na newsletter.
      </p>
      <app-button
        *ngIf="emails.length"
        [buttonTitle]="'Usuń wszystkie adresy email'"
        [buttonClass]="'button button-danger button-small mb-6'"
        [buttonOnClick]="true"
        (whenButtonClick)="openModal()"
      >
        Usuń adresy
        <app-fa-icon [faClass]="'far fa-trash-alt ml-1'"></app-fa-icon>
      </app-button>
      <app-alert
        *ngIf="alerts.error || alerts.server"
        [alertClass]="'alert alert-danger mb-6 m-auto'"
      >
        {{ alerts.error ? alerts.error : alerts.server }}
      </app-alert>
      <app-alert
        *ngIf="alerts.success"
        [alertClass]="'alert alert-success mb-6 m-auto'"
      >
        {{ alerts.success }}
      </app-alert>
      <div *ngIf="emails.length; else showDefault" class="w-100">
        <div *ngFor="let email of emails" class="mb-10">
          <div class="email overflow-hidden mb-4 text-left">
            <div class="email__head">
              <div class="p-2 flex flex-justify-between flex-align-center">
                {{ email.email }}
                <app-button
                  [buttonTitle]="'Usuń email'"
                  [buttonClass]="'button button-danger button-small'"
                  [buttonOnClick]="true"
                  (whenButtonClick)="openModal(email)"
                >
                  Usuń
                  <app-fa-icon
                    [faClass]="'far fa-trash-alt ml-1'"
                  ></app-fa-icon>
                </app-button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <ng-template #showDefault>
        <p>Brak zapisanych adresów email.</p>
      </ng-template>
    </article>
    <ng-template #showError>
      <p class="center">{{ alerts.server }}</p>
    </ng-template>
  </section>
  <app-modal
    *ngIf="modals.deleteEmail"
    (whenButtonClick)="!isDisabled && closeModal('deleteEmail')"
  >
    <div class="text-center">
      <p>
        <strong class="normal">
          Czy napewno chcesz usunąć email {{ modals.deleteEmail.email }}&nbsp;?
        </strong>
      </p>
      <app-button
        [buttonTitle]="computedButtonTitle()"
        [buttonClass]="'button button-danger'"
        [buttonDisabled]="isDisabled"
        [buttonOnClick]="true"
        (whenButtonClick)="deleteEmail(modals.deleteEmail._id)"
        #deleteButton
      >
        {{ computedButtonText() }}
        <app-fa-icon
          *ngIf="isDisabled"
          [faClass]="'fas fa-spinner fa-spin ml-1'"
        ></app-fa-icon>
      </app-button>
    </div>
  </app-modal>
  <app-modal
    *ngIf="modals.deleteEmails.length"
    (whenButtonClick)="!isDisabled && closeModal('deleteEmails')"
  >
    <div class="text-center">
      <p>
        <strong class="normal">
          Czy napewno chcesz usunąć wsystkie adresy email&nbsp;?
        </strong>
      </p>
      <app-button
        [buttonTitle]="computedButtonTitle()"
        [buttonClass]="'button button-danger'"
        [buttonDisabled]="isDisabled"
        [buttonOnClick]="true"
        (whenButtonClick)="deleteEmails()"
        #deleteButton
      >
        {{ computedButtonText() }}
        <app-fa-icon
          *ngIf="isDisabled"
          [faClass]="'fas fa-spinner fa-spin ml-1'"
        ></app-fa-icon>
      </app-button>
    </div>
  </app-modal>
</ng-template>
