/* ====== Imports ====== */
@import "../../../assets/scss/variables";

/* ====== Viewed Products ====== */
.viewed-products {
  &__swiper-slider {
    margin: 0px 40px;

    .swiper-wrapper {
      align-items: center;
    }

    .swiper-container {
      padding-bottom: 40px;
      position: static;
    }

    .swiper-button-next {
      right: -30px;
    }

    .swiper-button-prev {
      left: -30px;
    }

    .swiper-button-prev:after,
    .swiper-button-next:after {
      font-size: 3rem;
    }
  }
}
