// Imports
@import "../../../../assets/scss/variables";

// Admin
.admin-page {
  z-index: 1;

  @media (min-width: $lg) {
    padding-left: 32rem;
  }

  &-section {
    position: relative;
    background-color: $color-white;
    padding-top: 8.9rem;

    @media (min-width: $lg) {
      padding-top: 2.4rem;
    }

    &__header {
      border-bottom: 0.1rem solid darken($color-white, 15%);
    }

    &__article {
      width: 100%;
      max-width: 60rem;

      &--products {
        @media (min-width: $lg) {
          max-width: 90rem;
        }
      }
    }
  }
}

.dashboard-header {
  width: 100%;
  min-height: 6.5rem;
  position: fixed;
  z-index: $z-index-3;
  background-color: $color-white;

  @media (min-width: $lg) {
    min-height: 0rem;
  }
}
