<app-skip-link (whenSkipNavigation)="setFocus()"></app-skip-link>
<div *ngIf="isLoading; else adminView" class="spinner-wrapper">
  <app-spinner></app-spinner>
</div>
<ng-template #adminView>
  <header
    class="dashboard-header"
    [ngStyle]="{ 'background-color': isDashboard ? 'transparent' : '' }"
  >
    <app-dashboard-navbar></app-dashboard-navbar>
  </header>
  <span id="tresc" class="invisible" [tabindex]="tabIndex" #header></span>
  <main class="admin-page min-vh-100 relative">
    <router-outlet #outlet="outlet"></router-outlet>
  </main>
</ng-template>
