<div class="slider">
  <div class="w-100 h-100 absolute">
    <swiper
      [config]="config"
      [slidesPerView]="1"
      [spaceBetween]="0"
      [pagination]="{ clickable: true }"
    >
      <ng-template swiperSlide *ngFor="let image of images; trackBy: trackID">
        <a class="slider__link" [routerLink]="image.href">
          <div
            class="slider__img"
            [ngStyle]="{ 'background-image': computedImageSrc(image.img) }"
          >
            <ng-content></ng-content>
          </div>
        </a>
      </ng-template>
    </swiper>
  </div>
</div>
