<div *ngIf="isLoading; else socialMediaView" class="spinner-wrapper">
  <app-spinner></app-spinner>
</div>
<ng-template #socialMediaView>
  <section class="admin-page-section p-6 min-vh-100">
    <header class="admin-page-section__header">
      <h2 class="h4 text-center mb-6">Social Media</h2>
    </header>
    <article class="admin-page-section__article m-auto mt-6 text-center">
      <p>
        Tutaj możesz dodać linki do swoich mediów społecznościowych.
      </p>
      <app-form
        [formClass]="'form text-left inline-block'"
        [formName]="form"
        (whenFormSubmit)="submit()"
      >
        <div class="row">
          <div class="column-12 mb-4">
            <app-input
              [inputLabelClass]="'block mb-2 bold'"
              [inputID]="'facebook'"
              [inputType]="'url'"
              [inputLabel]="'Facebook'"
              [inputPlaceholder]="'Adres konta na Facebook'"
              [inputClass]="'form__input w-100'"
              [inputValidation]="validation('facebook')"
              [inputAlerts]="facebookAlerts"
              [inputRequired]="false"
              [inputGroup]="form"
              [inputForm]="form"
            ></app-input>
          </div>
          <div class="column-12 mb-4">
            <app-input
              [inputLabelClass]="'block mb-2 bold'"
              [inputID]="'instagram'"
              [inputType]="'url'"
              [inputLabel]="'Instagram'"
              [inputPlaceholder]="'Adres konta na Instagram'"
              [inputClass]="'form__input w-100'"
              [inputValidation]="validation('instagram')"
              [inputAlerts]="instagramAlerts"
              [inputRequired]="false"
              [inputGroup]="form"
              [inputForm]="form"
            ></app-input>
          </div>
          <div class="column-12 mb-4">
            <app-input
              [inputLabelClass]="'block mb-2 bold'"
              [inputID]="'linkedin'"
              [inputType]="'url'"
              [inputLabel]="'LinkedIn'"
              [inputPlaceholder]="'Adres konta na LinkedIn'"
              [inputClass]="'form__input w-100'"
              [inputValidation]="validation('linkedin')"
              [inputAlerts]="linkedinAlerts"
              [inputRequired]="false"
              [inputGroup]="form"
              [inputForm]="form"
            ></app-input>
          </div>
          <div class="column-12 mb-4">
            <app-input
              [inputLabelClass]="'block mb-2 bold'"
              [inputID]="'twitter'"
              [inputType]="'url'"
              [inputLabel]="'Twitter'"
              [inputPlaceholder]="'Adres konta na Twitter'"
              [inputClass]="'form__input w-100'"
              [inputValidation]="validation('twitter')"
              [inputAlerts]="twitterAlerts"
              [inputRequired]="false"
              [inputGroup]="form"
              [inputForm]="form"
            ></app-input>
          </div>
          <div class="column-12 mb-4 text-center">
            <app-button
              [buttonType]="'submit'"
              [buttonTitle]="computedButtonTitle()"
              [buttonDisabled]="isDisabled"
            >
              {{ computedButtonText() }}
              <app-fa-icon
                *ngIf="isDisabled"
                [faClass]="'fas fa-spinner fa-spin'"
              ></app-fa-icon>
            </app-button>
          </div>
        </div>
      </app-form>
    </article>
  </section>
</ng-template>
